html,
body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@keyframes turn_angle {
    0% {
        background-image: url(../images/angle-turn1.png);
    }
    20% {
        background-image: url(../images/angle-turn2.png);
    }
    40% {
        background-image: url(../images/angle-turn3.png);
    }
    60% {
        background-image: url(../images/angle-turn4.png);
    }
    80% {
        background-image: url(../images/angle-turn5.png);
    }
    100% {
        background-image: url(../images/angle-turn6.png);
    }
}

@keyframes turn_around {
    0% {
        background-image: url(../images/angle-turn6.png);
    }
    20% {
        background-image: url(../images/angle-turn5.png);
    }
    40% {
        background-image: url(../images/angle-turn4.png);
    }
    60% {
        background-image: url(../images/angle-turn3.png);
    }
    80% {
        background-image: url(../images/angle-turn2.png);
    }
    90% {
        background-image: url(../images/angle-turn1.png);
    }
    100% {
        background-image: url(../images/angle1.png);
    }
}

.header {
    width: 782px;
    margin: 0 auto;
    min-height: 50px;
    position: relative;
    padding-top: 7px;
}

.header__logo {
    width: 150px;
    float: left;
    margin-top: 5px;
}

.header__logo-img {
    width: 32px;
    height: 32px;
    margin-top: 4px;
    background-image: url(../images/logo1.png);
    background-repeat: no-repeat;
    float: left;
}

.header__logo-text {
    float: left;
    margin-top: 4px;
    font-size: 20px;
    font-weight: 600;
}

.header__menu {
    width: 500px;
    min-height: 32px;
    float: right;
    display: flex;
    justify-content: space-between;
}

.header__menu-item {
    display: inline-block;
    padding: 0px 15px;
    padding-top: 18px;
    padding-bottom: 17px;
    font-size: 13px;
    text-decoration: none;
    color: grey;
    box-sizing: border-box;
}

.header__menu-item:first-child {
    border-bottom: 4px solid #b1d443;
}

.header__menu-item:hover {
    transition: 0.5s ease 0s;
    border-bottom: 4px solid #b1d443;
    color: black;
}

.header__menu-item:focus {
    transition: 0.5s ease 0s;
    border-bottom: 4px solid #b1d443;
    color: #373b40;
}

.header__touch-menu {
    float: right;
    padding-top: 11px;
    display: none;
}

.header__touch-menu-href {
    text-decoration: none;
    color: grey;
    font-size: 14px;
}

.slider {
    width: 100%;
    min-height: 400px;
    background-image: url(../images/slide.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.slider__prev {
    width: 32px;
    height: 32px;
    background-image: url(../images/prev.png);
    position: absolute;
    top: 180px;
    left: 20px;
}

.slider__next {
    width: 32px;
    height: 32px;
    background-image: url(../images/next.png);
    position: absolute;
    top: 180px;
    left: auto;
    right: 20px;
}

.slider__wrap {
    width: 782px;
    margin: 0 auto;
}

.slider__info {
    width: 333px;
    height: 333px;
    float: right;
    margin-top: 35px;
    background-image: url(../images/slide-info.png);
    font-size: 33px;
    color: #b1d443;
    position: relative;
    text-align: center;
}

.slider__info:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.slider__info-text {
    max-width: 267px;
    max-height: 240px;
    display: inline-block;
    vertical-align: middle;
    margin-left: -0.35em;
    overflow: hidden;
}

.programs {
    width: 782px;
    margin: 0 auto;
    min-height: 192px;
    padding-top: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.programs__therapy {
    width: 175px;
    min-height: 192px;
    position: relative;
    background-color: #9cc038;
    color: white;
    padding: 10px 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    box-sizing: border-box;
}

.programs__therapy:hover .programs__therapy-angle {
    animation: turn_angle 0.2s linear;
    animation-fill-mode: forwards;
}

.programs__therapy:not(:hover) .programs__therapy-angle {
    animation: turn_around 0.2s linear;
    animation-fill-mode: forwards;
}

.programs__therapy-text {
    height: 87px;
    overflow: hidden;
}

.programs__therapy__more {
    position: absolute;
    bottom: 4%;
    left: 86%;
}

.programs__therapy__more a {
    color: white;
}

.programs__therapy-angle {
    width: 82px;
    height: 41px;
    position: absolute;
    bottom: 0;
    right: 0px;
    z-index: 0;
    background-image: url(../images/angle1.png);
}

.programs__therapy-angle a {
    position: absolute;
    left: 42px;
    color: white;
    padding: 15px 8px 8px 15px;
}

.info {
    width: 782px;
    margin: 0 auto;
    min-height: 187px;
    margin-top: 70px;
}

.info__img {
    width: 325px;
    height: 187px;
    float: left;
    margin-right: 40px;
    overflow: hidden;
}

.info__img img {
    width: 100%;
}

.info__desc {
    width: 415px;
    min-height: 187px;
    float: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.info__desc-subtitle {
    color: #b1d443;
}

.info__desc-text {
    font-size: 11px;
    padding-right: 10px;
}

.banner {
    width: 100%;
    min-height: 400px;
    margin-top: 70px;
}

.banner__image {
    display: block;
    max-width: 100%;
    min-height: inherit;
    position: absolute;
}

.banner__info {
    width: 333px;
    height: 333px;
    position: relative;
    box-sizing: border-box;
    z-index: 5;
    top: 32px;
    left: 55%;
    background-image: url(../images/banner-info.png);
    background-repeat: no-repeat;
    font-size: 33px;
    color: white;
}

.banner__info-text {
    width: 267px;
    height: 120px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
}

.more {
    width: 782px;
    margin: 0 auto;
    min-height: 187px;
    margin-top: 70px;
    text-align: center;
    box-sizing: border-box;
}

.more__container {
    width: inherit;
    display: flex;
}

.more__item {
    width: 33.3%;
    min-height: 187px;
    text-align: left;
    padding: 12px;
}

.more__item h4 {
    color: #b1d443;
}

.more__item-text {
    font-size: 11px;
}

.more__item-arrow {
    width: 30px;
    height: 30px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 4px;
    background-color: #b1d443;
}

.more__item-arrow:hover {
    background-color: lightgray;
}

.more__item-arrow:hover .more__item-arrow-link {
    color: black;
}

.more__item-arrow-link {
    color: white;
}

.bottom-info {
    width: 100%;
    min-height: 400px;
    background-color: #a3c83a;
    margin-top: 70px;
    padding-top: 75px;
    box-sizing: border-box;
}

.bottom-info__wrap {
    width: 782px;
    margin: 0 auto;
    height: 250px;
    display: flex;
    justify-content: space-between;
}

.bottom-info__left {
    width: 49%;
    height: inherit;
    box-sizing: border-box;
    color: white;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom-info__left-img {
    position: absolute;
    width: 100%;
    height: inherit;
}

.bottom-info__left-wrap {
    width: 320px;
    height: 190px;
    overflow: hidden;
    z-index: 100;
}

.bottom-info__left h3 {
    margin: 0;
}

.bottom-info__left-text {
    font-size: 12px;
    line-height: 1.5;
}

.bottom-info__left-link {
    position: absolute;
    bottom: 0;
    right: 0;
    color: white;
    padding: 13px 3px 8px 15px;
}

.bottom-info__right {
    width: 49%;
    min-height: inherit;
    background: white;
    box-sizing: border-box;
    display: inline-block;
    padding: 30px;
    color: black;
    position: relative;
}

.bottom-info__right h3 {
    margin: 0;
    color: #b1d443;
}

.bottom-info__right-text {
    font-size: 12px;
    line-height: 1.5;
    overflow: hidden;
    height: 125px;
}

.bottom-info__right img {
    position: absolute;
    top: 80%;
    left: 75%;
}

.reviews {
    width: 782px;
    margin: 0 auto;
    margin-top: 70px;
    margin-bottom: 30px;
    min-height: 250px;
    display: flex;
    justify-content: space-between;
}

.reviews__block {
    width: 32%;
    max-height: 210px;
    color: white;
    background: #9cc038;
    box-sizing: border-box;
    padding: 10px;
    position: relative;
}

.reviews__block:hover .reviews__block-angle {
    animation: turn_angle 0.2s linear;
    animation-fill-mode: forwards;
}

.reviews__block:not(:hover) .reviews__block-angle {
    animation: turn_around 0.2s linear;
    animation-fill-mode: forwards;
}

.reviews__block img {
    float: left;
    padding: 10px;
}

.reviews__block-avatar {
    width: 66px;
    height: 66px;
    float: left;
    padding-right: 20px;
    padding-bottom: 20px;
}

.reviews__block-avatar img {
    width: 100%;
    height: inherit;
    border-radius: 100%;
}

.reviews__block h3 {
    margin: 0;
    padding-top: 20px;
    padding-right: 10px;
}

.reviews__block-text {
    font-size: 12px;
    padding-left: 10px;
}

.reviews__block-quotes {
    position: absolute;
    top: 10%;
    left: 75%;
}

.reviews__block-angle {
    width: 82px;
    height: 41px;
    position: absolute;
    top: 169px;
    right: 0px;
    z-index: 0;
    background-image: url(../images/angle1.png);
    background-repeat: no-repeat;
}

.reviews__block-angle a {
    position: absolute;
    right: 0;
    color: white;
    padding: 15px 4px 8px 15px;
}

.bottom-menu {
    width: 782px;
    margin: 0 auto;
    margin-top: 35px;
    min-height: 250px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background: #f6f6f6;
    padding-bottom: 70px;
}

.bottom-menu__list {
    width: 24%;
    max-height: 210px;
}

.bottom-menu__list a {
    text-decoration: none;
    color: grey;
}

.bottom-menu__list a:hover {
    color: #9cc038;
}

.bottom-menu__list-items {
    padding: 0;
    list-style-type: none;
    font-size: 12px;
}

.bottom-menu__list-items li {
    padding: 8px 0;
    color: grey;
}

.bottom-menu__list-items--social {
    padding: 0;
    list-style-type: none;
    font-size: 12px;
}

.bottom-menu__list-items--social li {
    padding: 13px 0;
    color: grey;
}

.bottom-menu__list-items--social a {
    padding-top: 18px;
    padding-bottom: 11px;
}

.bottom-menu__list-items--social i {
    color: white;
    padding: 10px;
    background: #9cc038;
    margin-right: 10px;
    font-size: 20px;
}

.bottom-menu__list-items--contacts {
    padding: 0;
    list-style-type: none;
    font-size: 12px;
}

.bottom-menu__list-items--contacts li {
    padding-bottom: 8px;
    color: grey;
    position: relative;
    padding: 13px 0 0 42px;
    line-height: 1.5;
}

.bottom-menu__list-items--contacts li:last-child {
    margin-top: 10px;
}

.bottom-menu__list-items--contacts li>i {
    color: #9cc038;
    background: none;
    font-size: 25px;
    padding-right: 5px;
    position: absolute;
    top: 2px;
    left: 2px;
}

footer {
    width: 100%;
    min-height: 400px;
    padding-top: 7px;
    background: #f6f6f6;
}

.footer-info {
    width: 762px;
    margin: 0 auto;
}

.footer-info__logo {
    width: 150px;
    float: left;
    margin-top: 5px;
}

.footer-info__logo-img {
    width: 25px;
    height: 32px;
    margin-top: 4px;
    background-image: url(../images/logo__footer.png);
    background-repeat: no-repeat;
    float: left;
}

.footer-info__logo-text {
    float: left;
    margin-top: 4px;
    font-size: 20px;
    font-weight: 600;
}

.footer-info__privacy {
    width: 182px;
    float: left;
}

.footer-info__privacy-text {
    float: left;
    margin-top: 17px;
    font-size: 11px;
    color: grey;
}

.footer-info__privacy-text a {
    text-decoration: none;
    color: #9cc038;
}

.footer-info__privacy-text a:hover {
    cursor: pointer;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

@media screen and (max-width: 900px) {
    .header {
        width: 700px;
    }
    .header__menu-item {
        padding-bottom: 15px;
    }
    .slider {
        min-height: 350px;
    }
    .slider__info {
        width: 280px;
        height: 279px;
        font-size: 30px;
        background-image: url(../images/slide-info280.png);
    }
    .slider__prev {
        top: 160px;
    }
    .slider__next {
        top: 160px;
    }
    .slider__wrap {
        width: 600px;
    }
    .slider__info-text {
        max-width: 243px;
        max-height: 120px;
    }
    .programs {
        width: 700px;
    }
    .programs__therapy {
        width: 330px;
        margin-bottom: 40px;
    }
    .programs__therapy__more {
        left: 92%;
    }
    .info {
        width: 700px;
    }
    .info__desc {
        width: 335px;
    }
    .info__desc-title {
        font-size: 16px;
    }
    .banner {
        min-height: 350px;
    }
    .banner__info {
        width: 280px;
        height: 279px;
        font-size: 30px;
        background-image: url(../images/banner-info280.png);
        top: 35px;
    }
    .banner__info-text {
        width: 243px;
        height: 120px;
    }
    .more {
        width: 700px;
    }
    .bottom-info__wrap {
        width: 700px;
    }
    .bottom-info__left-wrap {
        width: 283px;
    }
    .bottom-info__wrap h3 {
        font-size: 16px;
    }
    .bottom-info__right img {
        width: 80px;
        left: 77%;
        top: 83.7%;
    }
    .reviews {
        width: 700px;
    }
    .reviews__block h3 {
        font-size: 16px;
    }
    .reviews__block-angle {
        width: 80px;
        left: unset;
    }
    .reviews__block p {
        margin-top: 0;
    }
    .bottom-menu {
        width: 700px;
    }
    .bottom-menu__list {
        width: 22%;
    }
    footer {
        width: 100%;
    }
    footer-info {
        width: 700px;
    }
    .footer-info__privacy-text {
        margin-top: 16px;
    }
}

@media screen and (max-width: 768px) {
    .header {
        width: 100%;
        margin: 0;
        min-height: 42px;
        position: relative;
    }
    .header__logo-img {
        margin-top: 0;
    }
    .header__logo-text {
        margin-top: 0;
    }
    .header__menu {
        display: none;
    }
    .header__touch-menu {
        display: block;
        padding-right: 5px;
        padding-top: 7px;
    }
    .active {
        display: flex;
        flex-direction: column;
        width: 100%;
        position: absolute;
        z-index: 100;
        background: #fff;
        top: 40px;
    }
    .header__menu-item {
        padding: 5px 12px;
    }
    .header__menu-item:first-child {
        border-bottom: 0;
    }
    .header__menu-item:hover {
        transition: 1s ease 0s;
        border-bottom: 0;
        background: lightgray;
    }
    .slider {
        min-height: 250px;
    }
    .slider__wrap {
        width: 100%;
    }
    .slider__info {
        width: 180px;
        height: 179px;
        background-image: url(../images/slide-info180.png);
        font-size: 18px;
        position: absolute;
        left: 0;
        right: 0;
        margin: 35px auto;
    }
    .slider__info-text {
        max-width: 146px;
        max-height: 65px;
    }
    .slider__prev {
        width: 24px;
        height: 24px;
        top: 115px;
        background-image: url(../images/prev24.png);
    }
    .slider__next {
        width: 24px;
        height: 24px;
        top: 115px;
        background-image: url(../images/next24.png);
    }
    .programs {
        width: 100%;
        padding-top: 35px;
        justify-content: space-around;
    }
    .programs__therapy {
        width: 260px;
        margin-bottom: 40px;
    }
    .programs__therapy__more {
        left: 90%;
    }
    .info {
        width: 100%;
        margin-top: 0;
    }
    .info__img {
        display: none;
    }
    .info__desc {
        width: 80%;
        float: none;
        margin: 0 auto;
        padding: 0 10px;
    }
    .info__desc-title {
        font-size: 16px;
    }
    .banner {
        margin-top: 35px;
        min-height: 250px;
    }
    .banner__info {
        width: 180px;
        height: 179px;
        font-size: 21px;
        background-image: url(../images/banner-info180.png);
        left: 0;
        right: 0;
        margin: auto;
    }
    .banner__info-text {
        width: 146px;
        height: 75px;
    }
    .more {
        width: 100%;
    }
    .more__container {
        display: block;
    }
    .more__item {
        width: 80%;
        min-height: 130px;
        margin: 0 auto;
    }
    .bottom-info {
        padding-top: 25px;
    }
    .bottom-info__wrap {
        width: 100%;
        flex-direction: column;
        height: inherit;
    }
    .bottom-info__left {
        width: 90%;
        min-height: 210px;
        margin: 0 auto;
        position: relative;
        box-sizing: border-box;
    }
    .bottom-info__left-wrap {
        width: 90%;
        height: unset;
        box-sizing: border-box;
        padding: 25px 15px 10px 10px;
    }
    .bottom-info__left-img {
        height: unset;
    }
    .bottom-info__right {
        width: 90%;
        margin: 20px auto;
        padding: 0;
    }
    .bottom-info__right-text {
        padding: 0 30px;
    }
    .bottom-info__right h3 {
        padding: 30px;
        padding-bottom: 5px;
    }
    .bottom-info__right img {
        display: block;
        float: right;
        position: unset;
    }
    .reviews {
        width: 80%;
        flex-direction: column;
    }
    .reviews__block {
        width: 100%;
        min-height: 210px;
        margin-bottom: 20px;
        padding-right: 0;
    }
    .reviews__block-quotes {
        left: unset;
        right: 20px;
    }
    .reviews__block img {
        padding-right: 0;
    }
    .reviews__block-text {
        padding-right: 10px;
    }
    .reviews__block-angle {
        left: unset;
        right: 0px;
    }
    .bottom-menu {
        width: 100%;
        margin-top: 35px;
        justify-content: space-around;
    }
    .bottom-menu__list {
        width: 44%;
    }
    footer {
        width: 100%;
        min-height: 620px;
        padding-top: 10px;
    }
    .footer-info {
        width: 95%;
        padding-top: 10px;
    }
    .footer-info__privacy {
        width: 140px;
    }
}